.page {
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}