.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.button_text {
  color: #4C4CFF;
  text-decoration: none;
}

.g {
  background-color: aqua;
}